<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">

  <link rel="stylesheet" href="inicio.component.css">
  
  <title>Frontend Mentor | Space tourism website</title>

  <!-- GOOFLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g fill="none" fill-rule="evenodd"><circle cx="24" cy="24" r="24" fill="#FFF"/><path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/></g></svg>
  </nav>

  <div class="contenedor">

    <div class="contenedor-texto">
      <p class="parrafo-inicio text-color">
        SO, YOU WANT TO TRAVEL TO
      </p>
      <h1 class="titulo text-color">
        SPACE
      </h1>
      <p class="parrafo-principal text-color">
        Let’s face it; if you want to go to space, you might as well genuinely <br>  go to
      outer space and not hover kind of on the edge of it. Well sit back, and relax 
          because we’ll give you a truly out of this world experience!
      </p>
    </div>
    <div class="contenedor-boton">
      <div class="boton">
        <a href="#">EXPLORE</a>
      </div> 
    </div>
  </div>     
  
</body>
</html>
